/*Navigation*/

header {
	border: 1px solid orange;
}
.nav >ul >li{
	list-style-type: none;
	display: inline-block;
}

.nav {
	word-spacing: 20px;
}

a {
	text-decoration: none;
}

/*Article*/
.disabled {
	color: grey;
}

a .disabled {
	color: purple;
}

.active {
	color: yellow;
}

/*Div after article*/
.red {
	color: red;
}

.blue {
	color: blue;
}

.background-red {
	background: red;
}

.background-blue {
	background: blue;
}

.grandparent >h4 {
	border: 1px solid black;
	border-radius: 10px;
}